.ipynb_checkpoints/
cropped-images/
intensified-images/
rotated-images/
equally-sized-images/
resized-images/
blurred-images/
greyscaled-images/
irl-resized-images/
irl-greyscaled-images/
greyscaled-data/
rgb-data/
*.pyc
rgba-data/
rgba-images/
